<div class="container">
  <h1>Cоздание задания</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="addTask(task)" #taskForm="ngForm">
        <div class="form-group">
          <label for="name">Название</label>
          <input type="text" class="form-control" [(ngModel)]="task.taskName" name="name" required>
        </div>
        <div class="form-group">
          <label for="startDate">Дата начала</label>
          <input type="date" class="form-control" [(ngModel)]="task.startDate" name="startDate" required>
        </div>
        <div class="form-group">
          <label for="endDate">Дата окончания</label>
          <input type="date" class="form-control" [(ngModel)]="task.endDate" name="endDate" required>
        </div>
        <div class="form-group">
          <h1>Участники</h1>
          <table class="table">
            <tbody>
            <tr  *ngFor="let person of people">
              <td>  <input type="checkbox" class="form-control" [(ngModel)]="person.is"  name="personName"></td>
              <td><label for="personName">{{person.fName}}</label></td>
            </tr>
            </tbody>
          </table>
          <!--<ul>-->
            <!--<li  *ngFor="let person of people">-->
              <!--<input type="checkbox" class="form-control" [(ngModel)]="person.is"  name="personName">-->
              <!--<label for="personName">{{person.fName}}</label>-->
            <!--</li>-->
          <!--</ul>-->
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!taskForm.form.valid">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
