<div class="container">
  <h1>Cоздание задания</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="addTask(task)" #taskForm="ngForm">
        <div class="form-group">
          <label>Название</label>
          <input type="text" class="form-control" [(ngModel)]="task.taskName" name="name" required>
        </div>
        <div class="form-group">
          <label>Дата начала</label>
          <input type="date" class="form-control" [(ngModel)]="task.startDate" name="startDate" required>
        </div>
        <div class="form-group">
          <label>Дата окончания</label>
          <input type="date" class="form-control" [(ngModel)]="task.endDate" name="endDate" required>
        </div>
        <div class="form-group">
          <h2>Участники</h2>
          <ul>
            <li *ngFor="let person of people">
              <label class="checkbox-inline">
                <input type="checkbox" [(ngModel)]="person.is" name="personName">
                <label>{{person.fName}}</label>
              </label>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <a href="/task-list" type="submit" class="btn btn-cancel">Отмена</a>
          <button type="submit" class="btn btn-success" [disabled]="!taskForm.form.valid">Сохранить</button>
        </div>
      </form>
      <div class="error">{{errorMsg}}</div>
    </div>
  </div>
</div>
