<div class="container">
  <h1>ChangeContact</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updateTask(task.id, task)" #taskForm="ngForm">
        <div class="form-group">
          <label for="name">Название</label>
          <input type="text" class="form-control" [(ngModel)]="task.name" name="name" required>
        </div>
        <div class="form-group">
          <label for="startDate">Дата начала</label>
          <input type="date" class="form-control" [(ngModel)]="task.startDate" name="startDate" required>
        </div>
        <div class="form-group">
          <label for="endDate">Дата окончания</label>
          <input type="date" class="form-control" [(ngModel)]="task.endDate" name="endDate" required>
        </div>
        <div class="form-group">
          <h1>Участники</h1>
          <ul>
            <li  *ngFor="let person of people">
              <input type="checkbox" class="form-control" [checked]="person.id"  name="personName">
              <label for="personName">{{person.fName}}</label>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!taskForm.form.valid">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
